<div class="dropdown-wrapper" ng-class="{'-is-open': isOpen}">
    <div class="dropdown-button" ng-click="toggle()">
        <span ng-if="selected.length">{{title}}</span>
        <span ng-if="!selected.length">{{placeholder}}</span>
    </div>
    <ul class="dropdown-list">
        <li class="dropdown-list__item" ng-if="multiple">
            <a ng-click="selectAll()">Select All</a>
        </li>
        <li class="dropdown-list__item" ng-if="multiple">
            <a ng-click="deselectAll()">Deselect All</a>
        </li>
        <li class="dropdown-list__item" ng-repeat="item in list">
            <a ng-class="{'-is-active': item.selected}" ng-click="selectItem(item)">{{item.text}}</a>
        </li>
    </ul>
</div>