<div class="nav-icon" ng-class="{'open': isOpen}" ng-click="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="dropdownContain">
    <div class="dropOut" ng-class="{'-is-open': isOpen}">
        <nav class="sub_menu">
            <a ng-repeat="itemMenu in items" ui-sref={{itemMenu.link}} class="sub_menu__item">
                <div class="icon">
                    <i class={{itemMenu.class}} aria-hidden="true"></i>&nbsp;
                </div>
            </a>
        </nav>
    </div>
</div>
