.table > tbody > tr > .name_type {
    font: 1.3em 'Open Sans, sans-serif';
    vertical-align: middle;
}

.attach-file input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.filename {
    height: 30px;
    display: table;
    clear: both;
    
    span {
    display: table-cell;
    vertical-align: middle;
    font: 1.3em 'Open Sans, sans-serif';
    }
}