<div class="container">
    <h2 class="places-title">List of places</h2>
    <div class="table-block">
        <div class="table-block__body">
            <table ng-if="vm.places.length" class="table table-places" wt-responsive-table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Address</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="place in vm.places">
                        <td>{{place.name}}</td>
                        <td>{{place.description}}</td>
                        <td>{{place.lat}}</td>
                        <td>{{place.lng}}</td>
                        <td>{{place.address}}</td>
                        <td colspan="2">
                            <a class="button -is-blue icon-edit" ui-sref="places_one({id: place._id})">
                                <span>Edit</span>
                            </a>
                            <a class="button -is-red icon-remove" ng-click="vm.remove(place._id, index)">
                                <span>Remove</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p class="empty_list" ng-if="!vm.places.length">List of places is empty.</p>
</div>

<new-button url="places_new"></new-button>
