<div ng-controller="signInCtrl">
    <div class="formSignIn">
        <form class="modal-content animate" name="form" novalidate ng-submit="submitLogin(formData)" role="form" ng-init="formData = {}">
            <div class="containerSignIn">
                <div>
                    <span class="close" title="Вернуться назад" ng-click="back()">&times;</span>
                </div>

                <div>
                    <label><b>Электронный адрес:*</b></label>
                    <input type="email"
                           name="email"
                           placeholder="Введите имя"
                           ng-model="formData.email"
                           class="username"
                           required/>
                    <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Введите электронный адрес</p>
                </div>

                <div>
                    <label><b>Пароль:*</b></label>
                    <input type="password"
                           name="password"
                           placeholder="Введите пароль"
                           ng-model="formData.password"
                           id="signUpPassword"
                           class="password"
                           required/>
                    <p ng-show="form.password.$invalid && !form.password.$pristine" class="help-block">Введите пароль</p>
                </div>

                <button class="btn btn-success" id="LoginSignIn" type="submit"
                        ng-disabled="form.$invalid" ng-click="LoginBtnClick()">Войти
                </button>
                <a class="btn btn-danger" id="CloseSignIn" href="/" ng-click="back()">Назад</a>
            </div>
        </form>
    </div>
</div>