.new-button {
    position: fixed;
    bottom: 0;
    right: 0;
}

.new-button__link {
    height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: .9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal;
    border-width: 1px;
    border-radius: 30px;
    padding-right: 23px;
    padding-left: 23px;
}