{
  "presets": [

    ["es2015", {
      "plugins": [
        "transform-class-properties",
        "babel-plugin-transform-object-rest-spread"
      ]
    }]
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "transform-class-properties",
    "babel-plugin-transform-class-properties",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
