<div class="container">
    <h2 class="types-title">List types</h2>
    <div class="table-block">
        <div class="table-block__body">
            <table ng-if="vm.types.length" class="table" wt-responsive-table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="type in vm.types">
                        <td class="name_type">{{type.name}}</td>
                        <td colspan="2">
                            <a class="button -is-blue icon-edit" ui-sref="types_one({id: type._id})">
                                <span>Edit</span>
                            </a>
                            <a class="button -is-red icon-remove" ng-click="vm.remove(type._id, $index)">
                                <span>Remove</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p class="empty_list" ng-if="!vm.types.length">List of types is empty.</p>
</div>

<new-button url="types_new"></new-button>
