<div>
    <div class="row">
        <div class="well clearfix">
            <h2>List types</h2>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4 col-sm-5">
                    <a ui-sref="types_new" class="button icon-add">
                        <span>Add type</span>
                    </a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 col-sm-5">
                    <a ui-sref="map" class="button icon-home">
                        <span>Back to Main</span>
                    </a>
                </div>
            </div>
            <table ng-if="vm.types.length" class="table table-striped" wt-responsive-table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="type in vm.types">
                    <td class="name_type">{{type.name}}</td>
                    <td>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-5 col-sm-5">
                                <a class="button -is-orange icon-edit" ui-sref="types_one({id: type._id})">
                                    <span>Edit</span>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-5 col-sm-5">
                                <a class="button -is-orange icon-remove" ng-click="vm.remove(type._id, $index)">
                                    <span>Remove</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="empty_list" ng-if="!vm.types.length">List of types is empty.</p>
        </div>
    </div>
</div>