<div class="nav-icon" ng-class="{'open': isOpen}" ng-click="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="dropdownContain">
    <div class="dropOut" ng-class="{'-is-open': isOpen}">
        <nav class="sub_menu">
            <a ui-sref="types_all" class="sub_menu__item">
                <div class="icon">
                    <i class="fa fa-filter fa-fw" aria-hidden="true"></i>&nbsp;
                </div>
            </a>
            <a ui-sref="places_all" class="sub_menu__item">
                <div class="icon">
                    <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp;
                </div>
            </a>
            <a ng-click="vm.profile()" class="sub_menu__item">
                <div class="icon">
                    <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;
                </div>
            </a>
            <a ng-click="vm.logout()" class="sub_menu__item">
                <div class="icon">
                    <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp;
                </div>
            </a>
        </nav>
    </div>
</div>
