<div ng-controller="addPlaceCtrl as vm">
    <div class="container">
        <div class="row">
            <div class="well clearfix">
                <h1 class="page-header">Add new place</h1>
                <div class="col-lg-8 col-xs-12">
                    <form class="form-horizontal" name="addForm" novalidate>
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-lg-12 col-sm-12">Type of object:</label>
                            <selectize config='vm.myConfig' ng-disabled='disable' options='vm.select'
                                       ng-model="vm.addData.id_type"></selectize>
                            <span class="errorSelectize">{{vm.error}}</span>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-lg-12 col-sm-12">Name of place:</label>
                            <input class="form-control"
                                   type="text"
                                   name="typename"
                                   ng-model="vm.addData.name_place"
                                   required/>
                            <p ng-show="addForm.typename.$invalid && !addForm.typename.$pristine"
                               class="help-block">Input name of place</p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-lg-12 col-sm-12">Description of place:</label>
                            <textarea class="form-control"
                                      type="text"
                                      name="description"
                                      ng-model="vm.addData.description"
                                      required></textarea>
                            <p ng-show="addForm.description.$invalid && !addForm.description.$pristine"
                               class="help-block">Input description of place</p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-lg-12 col-sm-12">Latitude:</label>
                            <input class="form-control"
                                   type="text"
                                   name="latitude"
                                   ng-model="vm.addData.lat"
                                   required/>
                            <p ng-show="addForm.latitude.$invalid && !addForm.latitude.$pristine"
                               class="help-block">Input latitude</p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-lg-12 col-sm-12">Longitude:</label>
                            <input class="form-control"
                                   type="text"
                                   name="longitude"
                                   ng-model="vm.addData.lng"
                                   required/>
                            <p ng-show="addForm.longitude.$invalid && !addForm.longitude.$pristine"
                               class="help-block">Input longitude</p>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 col-md-12 col-lg-12 col-sm-12">Address of place:</label>
                            <textarea class="form-control"
                                      type="text"
                                      name="address"
                                      ng-model="vm.addData.address"
                                      required></textarea>
                            <p ng-show="addForm.address.$invalid && !addForm.address.$pristine"
                               class="help-block">Input address of place</p>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-5 col-sm-5">
                                    <button class="button icon-add"
                                            ng-disabled="addForm.$invalid"
                                            type="submit"
                                            ng-click="vm.add()">
                                        <span>Add</span>
                                    </button>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-4 col-sm-5">
                                    <a href="#/places" class="button icon-return">
                                        <span>Back</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>