<div>
    <div class="formSignUp">
        <form class="modal-content animate" name="form" novalidate>
            <div class="containerSignUp">
                <div>
                    <span class="close" title="Back to Main" ui-sref="main">&times;</span>
                </div>
                <div class="form-group">
                    <label><b>Username:*</b></label>
                    <input type="text"
                           name="username"
                           placeholder="Username"
                           ng-model="vm.formData.username"
                           class="username"
                           required/>
                    <p ng-show="form.username.$invalid && !form.username.$pristine" class="help-block">Input username</p>
                </div>
                <div class="form-group">
                    <label><b>Email:*</b></label>
                    <input type="email"
                           name="email"
                           placeholder="example@mail.com"
                           ng-model="vm.formData.email"
                           class="email"
                           required/>
                    <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Email is incorrect</p>
                </div>
                <div class="form-group">
                    <label><b>Password:*</b></label>
                    <input type="password"
                           name="password"
                           placeholder="Password"
                           ng-model="vm.formData.password"
                           ng-minlength="6"
                           id="signUpPassword"
                           class="password"
                           required/>
                    <p ng-show="form.password.$error.minlength" class="help-block">Password must consist from 6 symbols</p>
                </div>
                <div class="form-group">
                    <label><b>Confirm password:*</b></label>
                    <input type="password"
                           name="confirmpassword"
                           placeholder="Confirm password"
                           ng-model="vm.formData.confirmpassword"
                           pw-check="signUpPassword"
                           class="password"
                           required/>
                    <p class="help-block" ng-show="form.confirmpassword.$error.pwmatch">Password are not comparing</p>
                </div>
                <p class="signError">{{vm.error}}</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-5 col-sm-6">
                        <button class="button icon-register LoginSignIn"
                                type="submit"
                                ng-disabled="form.$invalid"
                                ng-click="vm.RegBtnClick()">
                            <span>Sign Up</span>
                        </button>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-5 col-sm-6">
                        <a class="button icon-home CloseSignIn" ui-sref="main">
                            <span>Back to Main</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>