<div>
    <div ng-if="vm.isAuthenticated">
        <div class="header">
            <div class="row">
                <div class="col-xs-8 col-lg-4 col-md-4 col-sm-5">
                    <selectize config='vm.myConfig' ng-disabled='disable' ng-change="vm.getPlacesByType(vm.type)" options='vm.select'
                               ng-model="vm.type"></selectize>
                </div>
                <div class="col-xs-4 col-lg-4 col-md-4 col-sm-5 auth">
                    <nav>
                        <ul class="menu">
                            <li class="menu__item">
                                <a><i class="fa fa-user-circle-o fa-3x user-icon" aria-hidden="true"></i></a>
                                <div class="dropdownContain">
                                    <div class="dropOut">
                                        <div class="triangle"></div>
                                        <div class="icon_username">
                                            <p>You signed in by<span>{{username}}</span></p>
                                        </div>
                                        <nav class="sub_menu">
                                            <a ui-sref="types_all" class="sub_menu__item"><i class="fa fa-cog fa-fw"
                                                                                        aria-hidden="true"></i>&nbsp;
                                                Manage types objects</a>
                                            <a ui-sref="places_all" class="sub_menu__item"><i class="fa fa-book fa-fw"
                                                                                         aria-hidden="true"></i>&nbsp;
                                                Manage places</a>
                                            <a ng-click="vm.profile()" class="sub_menu__item"><i
                                                class="fa fa-cog fa-fw"
                                                aria-hidden="true"></i>&nbsp;
                                                Settings profile</a>
                                            <a ng-click="vm.logout()" class="sub_menu__item"><i
                                                class="fa fa-sign-out fa-fw"
                                                aria-hidden="true"></i>&nbsp;
                                                Log out</a>
                                        </nav>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.isAuthenticated">
        <div class="header mob_header">
            <div class="row">
                <div class="col-xs-12 col-lg-4 col-md-4 col-sm-5 mob_select">
                    <selectize config='vm.myConfig' ng-disabled='disable' ng-change="vm.getPlacesByType(type)" options='vm.select'
                               ng-model="vm.type"></selectize>
                </div>
                <div class="col-xs-12 col-lg-4 col-md-4 col-sm-5 no_auth">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-lg-5 col-sm-6">
                            <a ui-sref="signin" class="button icon-login">
                                <span>Sign In</span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-5 col-sm-6">
                            <a ui-sref="signup" class="button icon-register">
                                <span>Sign Up</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <leaflet lf-center="vm.grodno" markers="vm.markers" height="100%" width="100%"></leaflet>
</div>