@font-face {
  font-family: 'icomoon';
  src:url('/public/fonts/icomoon/icomoon.eot');
  src:url('/public/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/icomoon/icomoon.woff') format('woff'),
    url('/public/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('/public/fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.button:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.icon-return:before {
  content: "\ea40";
}

.icon-home:before {
  content: "\e902";
}

.icon-edit:before {
  content: "\e905";
}

.icon-save:before {
  content: "\e962";
}

.icon-register:before {
  content: "\e973";
}

.icon-remove:before {
  content: "\e9ac";
}

.icon-attachment:before {
  content: "\e9cd";
}

.icon-add:before {
  content: "\ea0a";
}

.icon-login:before {
  content: "\ea13";
}

.icon-continue:before {
  content: "\ea3c";
}
