.icon-return:before {
    content: "\ea40";
}

.icon-home:before {
    content: "\e902";
}

.icon-edit:before {
    content: "\e905";
}

.icon-save:before {
    content: "\e962";
}

.icon-register:before {
    content: "\e973";
}

.icon-remove:before {
    content: "\e9ac";
}

.icon-attachment:before {
    content: "\e9cd";
}

.icon-add:before {
    content: "\ea0a";
}

.icon-login:before {
    content: "\ea13";
}

.icon-continue:before {
    content: "\ea3c";
}