<div ng-controller="signUpCtrl">
    <div class="formSignUp">
        <form class="modal-content animate" ng-submit="submit(form.$valid)" name="form" novalidate>
            <div class="containerSignUp">
                <div>
                    <span class="close" title="Вернуться назад" ng-click="back()">&times;</span>
                </div>

                <div>
                    <label><b>Имя пользователя:*</b></label>
                    <input type="text"
                           name="username"
                           placeholder="Введите имя"
                           ng-model="formData.username"
                           required/>
                    <p ng-show="form.username.$invalid && !form.username.$pristine" class="help-block">Введите имя пользователя</p>
                </div>

                <div>
                    <label><b>Электронный адрес:*</b></label>
                    <input type="email"
                           name="email"
                           placeholder="example@mail.com"
                           ng-model="formData.email"
                           required/>
                    <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Электронный адрес
                        некорректный</p>
                </div>

                <div>
                    <label><b>Пароль:*</b></label>
                    <input type="password"
                           name="password"
                           placeholder="Введите пароль"
                           ng-model="formData.password"
                           ng-minlength="6"
                           id="signUpPassword"
                           required/>
                    <p ng-show="form.password.$error.minlength" class="help-block">Пароль должен состоять из 6 символов
                        минимум</p>
                </div>

                <div>
                    <label><b>Повторите пароль:*</b></label>
                    <input type="password"
                           name="confirmpassword"
                           placeholder="Повторите пароль"
                           ng-model="formData.confirmpassword"
                           pw-check="signUpPassword"
                           required/>
                    <p class="help-block" ng-show="form.confirmpassword.$error.pwmatch">Пароли не совпадают</p>
                </div>

                <button class="btn btn-success" id="LoginSignIn" type="submit"
                        ng-disabled="form.$invalid">Зарегистрироваться
                </button>
                <a class="btn btn-danger" id="CloseSignIn" href="/" ng-click="back()">Назад</a>
            </div>
        </form>
    </div>
</div>