<div ng-controller="signInCtrl">
    <div class="formSignIn">
        <form class="modal-content animate">
            <div class="containerSignIn">
                <div class="imgcontainer">
                    <span class="close" title="Вернуться назад" ng-click="back()">&times;</span>
                </div>
                <label><b>Имя пользователя:</b></label>
                <input type="text" placeholder="Введите имя" ng-model="formData.login">

                <label><b>Пароль:</b></label>
                <input type="password" placeholder="Введите пароль" ng-model="formData.password">

                <a class="btn btn-success" id="LoginSignIn" href="/" ng-click="submit()">Войти</a>
                <a class="btn btn-danger" id="CloseSignIn" href="/" ng-click="back()">Назад</a>
            </div>
        </form>
    </div>
</div>