html, body {
    height: 100%;
    width: 100%;
}

.angular-leaflet-map {
    position: absolute;
    z-index: 2;
}

.leaflet-bottom {
    display: none;
}

.leaflet-top {
    top: 90px;
}

/*
  Buttons
*/

.button {
    background: #d3531a;
    color: white;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: none;
    cursor: pointer;
    padding: 15px 0;
    display: inline-block;
    margin: 15px 0;
    letter-spacing: 1px;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font: 700 1.3em 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
}

.button:before {
    color: white;
    left: 0;
    top: -120%;
    position: absolute;
    width: 100%;
    font-size: 180%;
    line-height: 2.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.button:hover:before {
    top: -20%;
}

.button:hover {
    color: white;
    text-decoration: none;
}

.button:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    -o-transform: translateY(300%);
    transform: translateY(300%);
}

.button span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    backface-visibility: hidden;
}

/*
  signIn
  SingUp
*/
.password,
.email,
.username {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.containerSignIn,
.containerSignUp {
    padding: 16px;
}

.LoginSignIn,
.CloseSignIn {
    padding: 15px;
    font: 1.3em 'Open Sans', sans-serif;
    margin-top: 20px;
    width: 100%;
}

.formSignIn,
.formSignUp {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -moz-animation: animatezomm 0.6s;
    -webkit-animation: animatezoom 0.6s;
    -o-animation: aanimatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes animatezoom {
    from {
        -moz-transform: scale(0)
    }

    to {
        -moz-transform: scale(1)
    }
}

@-o-keyframes animatezoom {
    from {
        -o-transform: scale(0)
    }

    to {
        -o-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.help-block {
    color: red;
    font: 1.3em "Open Sans";
}

#loading-bar .bar {
    background: #33ba3a;
    height: 5px;
}

/*
  UserProfile
*/

.signError {
    color: red;
    font: 1.3em 'Open Sans', sans-serif;
}

/*
  Header of main
*/

.header,
.no_auth,
.auth {
    position: absolute;
}

.header {
    width: 100%;
    background: white;
    box-shadow: 0 5px 5px rgba(176, 176, 176, 0.4);
    padding: 20px;
    z-index: 10;
    height: auto;
}

.no_auth,
.auth {
    right: 0;
}

.page {
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    z-index: 1;
    padding-left: 100px;
}

.submenu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border-right: 1px solid #e5eaf3;
    z-index: 11;
}

.page-wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ececea;
}

.well {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    background: none;
}

.icon_username {
    border-bottom: 1px solid #e1e4e8;
    font: 1em 'Open Sans', sans-serif;
    padding: 10px 0;
}

.icon_username p {
    text-align: center;
    margin: 0;
}

.icon_username span {
    font-weight: 600;
}

.no_auth .row .button {
    margin: 0;
    padding: 9px 0;
}

.no_auth .row .button:before {
    top: -140%;
}

.no_auth .row .button:hover:before {
    top: -40%;
}

/*
  Types
*/

.table > tbody > tr > .name_type {
    font: 1.3em 'Open Sans, sans-serif';
    vertical-align: middle;
}

.button input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.filename {
    height: 30px;
    display: table;
    clear: both;
}

.filename span {
    display: table-cell;
    vertical-align: middle;
    font: 1.3em 'Open Sans, sans-serif';
}

/*
  Places
*/

.errorSelectize {
    font: 1.3em 'Open Sans, sans-serif';
}

textarea {
    resize: none;
}

@media (max-width: 767px) {
    .mob_select {
        top: 35px;
        padding: 0 10px;
    }

    .no_auth {
        top: 5px;
        right: 0;
    }

    .mob_header {
        height: 100px;
    }

}

@media (max-width: 450px) {
    .menu .menu__item a {
        padding: 0;
    }

}

.empty_list {
    font: 700 1.3em 'Open Sans', sans-serif;
    text-align: center;
}
