<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Test Project</title>
    <link rel="stylesheet" type="text/css" href="/public/build/build.css">
    <link rel="stylesheet" type="text/css" href="/public/vendor/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script>
        window.token = "<%= token %>";
        window.user = <%- JSON.stringify(user) %>;
    </script>
</head>
<body>

<div class="page">
    <sub-menu class="submenu"></sub-menu>
    <div ui-view class="page-wrapper"></div>
</div>

<script src="/public/build/bundle.js"></script>

</body>
</html>