<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>SignUp Page</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif
        }

        .signup-page {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background: rgb(0, 0, 0);
            padding-top: 60px;
        }

        .signup-page__container {
            background: #fefefe;
            margin: 0 auto 15% auto;
            width: 25%;
            border-radius: 15px;
        }

        .signup-page_animate {
            -moz-animation: animatezomm 0.6s;
            -webkit-animation: animatezoom 0.6s;
            -o-animation: aanimatezoom 0.6s;
            animation: animatezoom 0.6s
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @-moz-keyframes animatezoom {
            from {
                -moz-transform: scale(0)
            }

            to {
                -moz-transform: scale(1)
            }
        }

        @-o-keyframes animatezoom {
            from {
                -o-transform: scale(0)
            }

            to {
                -o-transform: scale(1)
            }
        }

        @keyframes animatezoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }

        .signup-page__title {
            background: #4D4D4D;
            color: #797979;
            font-size: 18px;
            font-weight: 100;
            padding: 20px;
            margin: 0;
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .signup-form {
            padding: 10px;
        }

        .form-item {
            margin: 10px;
        }

        .form-item__field {
            width: 100%;
            margin: 8px 0;
            display: inline-block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #ddd;
            background: transparent;
            margin-bottom: 10px;
            height: 45px;
        }

        .form-item__buttons {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .button {
            background-color: #4caf50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            outline: none;
            cursor: pointer;
            width: 100%;
            font-size: 1.3em;
        }

        .button-link,
        .button-link:hover {
            color: #ffffff;
            text-decoration: none;
        }

        @media (max-width: 992px) {
            .signup-page__container {
                width: 40%;
            }
        }

        @media (max-width: 768px) {
            .signup-page__container {
                width: 70%;
            }
        }

        @media (max-width: 480px) {
            .signup-page__container {
                width: 90%;
            }

            .form-item__buttons {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }

            /* TODO fix width of other button */
            .button-block {
                width: 100%;
                margin: 10px 0;
            }
        }
    </style>
</head>

<body>
    <div class="signup-page">
        <div class="signup-page__container signup-page_animate">
            <h2 class="signup-page__title">Create new account</h2>
            <form class="signup-form" name="form" method="POST" action="/signup">
                <div class="form-item">
                    <label class="form-item__label">Username:*</label>
                    <input type="text" name="username" placeholder="Username" id="signUpUsername" class="form-item__field" required/>
                </div>
                <div class="form-item">
                    <label class="form-item__label">Email:*</label>
                    <input type="email" name="email" placeholder="example@mail.com" id="signUpEmail" class="form-item__field" required/>
                </div>
                <div class="form-item">
                    <label class="form-item__label">Password:*</label>
                    <input type="password" name="password" placeholder="Password" id="signUpPassword" class="form-item__field" required/>
                </div>
                <div class="form-item">
                    <label class="form-item__label">Confirm password:*</label>
                    <input type="password" name="confirmpassword" placeholder="Confirm password" id="signUpConfirmPassword" class="form-item__field"
                        required/>
                </div>
                <div class="form-item form-item__buttons">
                    <div class="button-block">
                        <button class="button icon-signup" type="submit" id="loginButton">
                            <span class="button__span">Sign Up</span>
                        </button>
                    </div>
                    <div class="button-block">
                        <button class="button">
                            <a href="/login" class="button-link">Log In</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script>
        function validateForm() {
            const validator = $('form').validate({
                rules: {
                    username: true,
                    email: true,
                    password: {
                        required: true,
                        minlength: 6
                    },
                    confirmpassword: {
                        required: true,
                        equalTo: '#signUpPassword'
                    },
                },
                messages: {
                    username: 'Please, enter your username',
                    email: 'Please, enter your email',
                    password: {
                        required: 'Please, enter your password',
                        minlength: 'Password must consist from six symbols'
                    },
                    confirmpassword: 'Enter Confirm Password Same as Password'
                },
                submitHandler: form => {
                    form.submit();
                }
            });

            return !!validator.form();
        }

        $(document).ready(function () {
            $('#signUpButton').click(event => {
                const success = validateForm();
                if (!success) {
                    return event.preventDefault();
                }

                const data = {
                    username: $('#signUpUsername').val(),
                    email: $('#signUpEmail').val(),
                    password: $('#signUpPassword').val(),
                    confirmpassword: $('#signUpConfirmPassword').val(),
                }

                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/signup',
                    data,
                    success: () => {
                        setTimeout(function () {
                            alert('Signup is success');
                            window.location = '/login';
                        }, 500)
                    },
                    error: error => {
                        alert(error.responseText);
                    }
                })
            })
        });
    </script>
</body>

</html>