<div ng-controller="ViewTypesCtrl">
    <div class="container profile">
        <div class="row">
            <div class="well clearfix">
                <div class="container">
                    <h2>Список типов</h2>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-4 col-sm-5">
                            <a href="#/types/add" class="button icon-add">
                                <span>Добавить тип</span>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4 col-sm-5">
                            <a href="#/" class="button icon-home">
                                <span>На Главную</span>
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped" wt-responsive-table>
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="type in types">
                        <td class="name_type">{{type.name_type}}</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-5 col-sm-5">
                                    <a class="button icon-edit" href="#/types/{{type._id}}">
                                        <span>Редактировать</span>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-5 col-sm-5">
                                    <a class="button icon-remove" href="#/" ng-click="delete(type._id)">
                                        <span>Удалить</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>